/HelloWorld/target/
/HelloGuild/target/
/S01-Exercise06/ForAndTwentyBlackbirds.java/target/
/S01-Exercise06/SpringForwardFallBack.java/target/
/S01-Exercise06/ForTimes.java/target/
/S01-Exercise06/ForTimesFor.java/target/
/S01-Exercise06/TheCount.java/target/
/S01-Exercise06/TwoForsAndTenYearsAgo.java/target/
/S01-Exercise07/ForAndTwentyBlackbirds.java/target/
/S01-Exercise07/ForTimes.java/target/
/S01-Exercise07/ForTimesFor.java/target/
/S01-Exercise07/SpringForwardFallBack.java/target/
/S01-Exercise07/TheCount.java/target/
/S01-Exercise07/TwoForsAndTenYearsAgo.java/target/